<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Login</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form [formGroup]="loginForm" (ngSubmit)="login($event)">
			    			<div class="row">
			    				<div class="col-xs-12 col-sm-12 col-md-12">
			    					<div class="form-group">
			                <input [formControl]="loginForm.controls['username']" type="text" name="user_name" id="user_name" class="form-control input-sm" placeholder="User Name">
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-12 col-sm-12 col-md-12">
			    					<div class="form-group">
			    						<input type="password" name="password" [formControl]="loginForm.controls['password']" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    			</div>
			    			<input type="submit"  value="login" class="btn btn-info btn-block">
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
