<!--table class="table table-hover table-striped table-sortable">
  <thead>
    <tr>
      <th *ngFor="let column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
        {{column.display}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of data">
      <td *ngFor="let column of columns">
        {{object[column.variable]}}
      </td>
    </tr>
  </tbody>
</table-->

 <div class="panel panel-default">
 <!-- Default panel contents -->
 <div class='panel-heading'>{{title}}</div>
 <div class='panel-body'>
      <table class="table table-bordered table-condensed ">
         <thead>
            <th style="word-wrap: break-word;" *ngFor="let column of columns"  (click)="changeSorting(column.variable)">
                {{column.display}}
            </th>
         </thead>
         <tbody>
            <tr *ngFor="let object of items">
              <td *ngFor="let column of columns">
                {{object[column.variable]}}
              </td>
            </tr>
         </tbody>
         <tfoot *ngIf=pagination>
           <tr>
             <td style="word-wrap: break-word;" [attr.colspan]="columns.length">
               <div class="btn-group pull-right">
               <ul class="pagination" >
                  <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="javascript:void(0)">Prev</a></li>
                     <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                        <a (click)="setPage(page)" href="javascript:void(0)" >{{page}}</a>
                     </li>
                  <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="javascript:void(0)">Next</a></li>
               </ul>
            </div>
          </td>
          </tr>
         </tfoot>
      </table>
      </div>
   </div>
